body {
    font-family: Helvetica;
    background-image: linear-gradient(to right, rgb(73, 4, 113), rgb(113, 17, 209));
    padding: 10;
}

.box_principal {
    align-self: center;
    vertical-align: top;
    margin: 20px auto;
    width: 70%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
}

@media(max-width: 768px){
    .box_principal {
        width: 90%;
    }
}            

.box_avisos {
    background-color: rgb(20, 20, 20);
    color: red;
    display: none;
    font-size: 10px;
}

.box_conteudo {
    padding: 15px;
    width: 100%;  
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
}

.box_secundario {
    padding: 15px;
    background-color: rgb(41, 40, 40);
    width: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

.box_secundario2 {
    padding: 15px;
    background-color: rgb(41, 40, 40);
    width: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: gray;
    font-size: 14px;    
    float: left;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

.box_secundario:hover {
    background-color: rgb(20, 20, 20);
}

.box_secundario2:hover {
    background-color: rgb(73, 4, 113);
    color: white;
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    color: dodgerblue;
}

.titulo1 {
    color:white;
    font-size: 22px;
    font-weight: regular;
}

.titulo2 {
    color:rgb(130, 128, 128);
    font-size: 16px;
    /*font-weight: bold;*/
}

.titulo3 {
    color:silver;
    font-size: 16px;
    font-weight: bold;
}

.texto1 {
    color: gray;
    font-size: 14px;
}

.texto2 {
    color: silver;
    font-size: 14px;
    font-weight: bold;
}

.caixa_texto {
    color: red;
    background-color: rgb(20, 20, 20);
    border: none;
    font-size: 9px;
}

.mensagem {
    color: silver;
    border: none;
    font-size: 10px;
}

.botao1 {
    padding: 10px;
    background-color: rgb(41, 40, 40);
    width: auto;
    margin-right: 15px;
    margin-bottom: 30px;
    /* margin: 5px; */
    border-radius: 5px;
    color: gray;
    font-size: 12px;    
    border: 1px solid rgb(60, 60, 60);
    /* box-sizing: border-box;     */
}

.botao1:hover {
    background-color: rgb(73, 4, 113);
    color: white;
}

/* ul {
    list-style-image: url("/imagens/mais.png");
} */
