body {
    font-family: Helvetica;
	/* background-color: rgb(37, 37, 37); */
    background-image: linear-gradient(to right, rgb(73, 4, 113), rgb(113, 17, 209));
	/* margin:0; */
    padding: 10;
}

/* @media screen and (max-width: 500px) {
    .box_secundario {
        width: 70%;
    }
} */

section {
    background-color: blue;
    width: 1200px;
}

@media(max-width: 1200px){
    section {
        background-color: red;
        width: 1000px;
    }
}

@media(max-width: 1024px){
    section {
        background-color: yellow;
        width: 700px;
    }
}

@media(max-width: 768px){
    section {
        background-color: green;
        width: 400px;
    }
}            

@media(max-width: 425px){
    section {
        background-color: grey;
        width: 320px;
    }
}   

.box_primario {
    /*padding: 15px;*/
    align-self: center;
    /* text-align: center; */
    /* align-content: center; */
    vertical-align: top;
    /* margin: 0 auto; */
    margin: 20px auto;
    width: 75%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    /* border-top: 2px solid whitesmoke; */
}

.box_faixa {
    padding: 15px;
    width: 100%;  
    /*height: 200px;*/
    /*background-color: whitesmoke; */
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
}

.box_secundario {
    padding: 15px;
    /* background-color: rgb(45, 44, 44); */
    background-color: rgb(41, 40, 40);
    /* display: inline-block; */
    width: 100%;
    /*height: 250px; */
    /* margin: 0 auto; */
    /*float: left;*/
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

.box_secundario2 {
    padding: 15px;
    background-color: rgb(41, 40, 40);
    width: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: gray;
    font-size: 14px;    
    float: left;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

.box_secundario:hover {
    background-color: rgb(20, 20, 20); /* Mudar de cor ao passar o mouse. */
}

.box_secundario2:hover {
    background-color: rgb(73, 4, 113); /* Mudar de cor ao passar o mouse. */
    color: white;
}

.box_imagem {
    padding: 15px;
    /*background-color: whitesmoke;*/
    width: 200px;
    height: 200px;
    /* margin: 0 auto; */
    float: left; 
    /* margin-right: 15px;
    margin-bottom: 15px; */
}

a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 14px;
}

a:visited {
    text-decoration: none;
    color: dodgerblue;
}

.titulo1 {
    color:white;
    font-size: 22px;
    font-weight: regular;
}

.titulo2 {
    color:rgb(130, 128, 128);
    font-size: 16px;
    /*font-weight: bold;*/
}

.titulo3 {
    color:silver;
    font-size: 16px;
    font-weight: bold;
}

.texto1 {
    color: gray;
    font-size: 14px;
}

.caixa_texto {
    color: red;
    background-color: rgb(20, 20, 20);
    border: none;
    font-size: 9px;
}